@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(0, 13, 21);
    --main-text-color: white;
    --title-color: rgb(211, 13, 43);
    --main-font: 'Russo One', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
}

h1 {
    font-size: 48px;
    font-family: var(--main-font);
    text-transform:uppercase;
}

h2 {
    font-size: 48px;
    font-family:  var(--main-font);
    text-transform:uppercase;
    color: var(--title-color);
}

h3{
    font-size: 40px;
    font-family:  var(--main-font);
    text-transform:uppercase;
    color: var(--title-color);
}

h4{
    font-size: 38px;
    font-family:  var(--main-font);
    text-transform:uppercase;
}

h5{
    font-size: 28px;
    font-family:  var(--main-font);
    text-transform:uppercase;
}

p{
    font-size: 18px;
    font-family: sans-serif;
}

a{
    color: var(--main-text-color);
}
a:hover{
    color: var(--main-text-color);
}

.link-btn-light{
    text-decoration: none;
    background-color: var(--title-color);
    padding: 10px 20px;
    color: var(--main-text-color);
    font-size: 18px;
    font-family: sans-serif;
}

.link-btn-light:hover{
    background-color: var(--main-text-color);
    color: var(--background-color);
}

.link-btn-dark{
    text-decoration: none;
    background-color: var(--background-color);
    padding: 10px 20px;
    color: var(--main-text-color);
    font-size: 18px;
    font-family: sans-serif;
}

.link-btn-dark:hover{
    background-color:var(--main-text-color) ;
    color: var(--background-color);
}