.premium-club{
    margin: 0px 20px 50px 20px;
}

.premium-club_text{
    margin-bottom: 30px;
}

.premium-club_main-block{
    margin-bottom: 30px;
}

.premium-club_block{
    margin-top: 50px;
}

.premium-club_block-photo{
    width: 100%;
}