.navbar {
    padding: 0px;
}

.burger-menu {
    background-color: red
        /*var(--background-color)*/
    ;
}

.navbar-logo {
    width: 150px;
    margin-top: 10px;
    margin-left: 80px;
}

.navbar-toggler {
    background-color: white;
}

.likeee{
    color: white !important;
}

.top-naw-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-line {
    border-bottom: 3px solid var(--main-text-color);
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}